body {
  background-color: #C4D300;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  margin-bottom: 20px;
}

#shrek-container {
  display: inline-block;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  top: 50px;
  left: 0%;
}

#shrek-img {
  max-width: 100%;
  max-height: 80vh;
}

#generate-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  left: 20%;
}